version: "3.8"

services:
  barq-db:
    image: agusgarcia3007/barq:latest
    container_name: barq-engine
    restart: unless-stopped

    # Puerto TCP del servidor SQL
    ports:
      - "8080:8080"

    # Persistencia de datos
    volumes:
      - barq_data:/var/lib/barq

    environment:
      - RUST_LOG=info

volumes:
  barq_data:
